nav ul{
    list-style-type: none;
}
nav li a{
    display: block;
    text-decoration: none;
    text-align: center;
    width: 16.6%;
    float: left;
    background-color: black;
    color: white;
}
nav{
    margin-left: -4.5%;
    background-attachment: fixed;
}
.forground{
    background-color: black;
    color:white;
    margin: auto;
    width:75%
}